* {
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    height: 500px;
}

form input, form select {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 5px;
}

form input[type=text] {
    width: 250px;
}